@import "mixins";
@import "variables";

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

button {
    background: transparent;
    border: none;
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../assets/font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("../assets/font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../assets/font/Montserrat-Bold.ttf") format("truetype");
}