@import "variables";

@mixin bold-text() {
    font-family: 'MontserratBold', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

@mixin medium-text() {
    font-family: 'MontserratMedium', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

@mixin regular-text() {
    font-family: 'MontserratRegular', Helvetica, Arial, sans-serif;
    font-weight: 400;
}